---
export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class=`z-10 rounded-2xl bg-white p-6 shadow-md transition-shadow hover:shadow-lg ${className}`>
  <slot />
</div>
