---
export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div
  class={`rounded-2xl p-6 
  bg-surface-900/75 hover:bg-surface-700/75
  border border-border-900 hover:border-border-300
  shadow-xs
  transition-all duration-200
  ${className}`}
>
  <slot />
</div>
