---
interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...props } = Astro.props;
---

<div
  class:list={[
    'relative mx-auto h-full w-full max-w-screen-2xl px-4 sm:px-6 lg:px-8 xl:px-8',
    className,
  ]}
  {...props}
>
  <slot />
</div>
