---
interface Props {
  text: string;
  icon?: any;
  [key: string]: any;
}

const { text, icon: Icon, ...attributes } = Astro.props;
---

<button
  class="group bg-surface-900 hover:bg-surface-700 grid cursor-pointer grid-cols-[1fr_max-content] items-center justify-center gap-2 rounded-full border-3 border-[#F28C23] px-6 py-3 text-lg transition-all duration-200 ease-in-out hover:border-[#E26002] hover:shadow-xs"
  {...attributes}
>
  <span class="text-inverse text-lg">{text}</span>
  {
    Icon && (
      <Icon
        size={24}
        class="text-inverse opacity-0 transition-opacity duration-200 group-hover:opacity-100"
      />
    )
  }
</button>
