---
interface Props {
  text: string;
  icon?: any;
  [key: string]: any;
}

const { text, icon: Icon, ...attributes } = Astro.props;
---

<a
  class="group
  border-accent-500 grid cursor-pointer
  grid-cols-[1fr_max-content] items-center justify-center gap-0
   border-b-3 border-l-4 border-r-1 border-t-1 py-3 text-lg transition-transform duration-200 ease-in-out hover:shadow-xs font-bold bg-inverse px-3 hover:-translate-y-[1px] hover:border-b-5 hover:border-l-5"
  {...attributes}
>
  <span
    class="bg-wing bg-cover bg-no-repeat stroke-base opacity-0 transition-opacity duration-200 group-hover:opacity-100 w-6 h-6 fill-base"
  ></span>

  <span class="text-base text-lg">{text}</span>
</a>
