---
interface Props {
  text: string;
  icon?: any;
  [key: string]: any;
}

const { text, icon: Icon, ...attributes } = Astro.props;
---

<button
  class="bg-surface-900 border-border-900 hover:border-border-300 hover:bg-surface-700 inline-flex cursor-pointer items-center justify-center gap-2 rounded-full border px-3 py-2 transition-all duration-200 ease-in-out hover:shadow-xs"
  {...attributes}
>
  {Icon && <Icon size={18} class="text-inverse" />}
  <span class="text-inverse text-md">{text}</span>
</button>
