---
export interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  {href}
  class="bg-card-background border-border-900 hover:border-border-300 relative z-10 flex h-10 w-10 cursor-pointer items-center justify-center rounded-full border transition-all duration-200 ease-in-out hover:-translate-y-[0.5px] hover:shadow-sm"
  aria-label={label}
>
  <slot />
</a>
