---
import BtnLink from '@/components/ui/btns/BtnLink.astro';
---

<div
  class="col-span-1 col-start-1 flex h-full flex-col max-w-max mx-auto lg:mx-0 lg:w-auto items-start justify-start gap-3 sm:gap-6 self-end"
>
  <p
    class="text-text-600 max-w-[45ch] leading-normal font-medium text-[0.8rem] sm:text-[1rem] md:text-lg lg:text-xl"
  >
    Hi, I’m <strong class="text-inverse">Amr</strong> . I help turn ideas into working
    web solutions by making sure we’re always on the same page from the first conversation
    to the final result.
  </p>

  <div class="flex">
    <BtnLink
      text="About me"
      href="/about/"
      aria-label="Read more about me"
      role="link"
    />
    <!-- <BtnLink
      text="Projects"
      href="/about/"
      aria-label="Read more about me"
      role="link"
    />
    <BtnLink
      text="Blogs"
      href="/about/"
      aria-label="Read more about me"
      role="link"
    /> -->
  </div>
</div>
