<div
  class="col-span-1 col-start-2 hidden aspect-[2.2/2] h-[175px] sm:flex sm:h-[200px] md:row-start-1 md:h-[300px] md:justify-self-center lg:h-[400px] xl:h-[500px]"
>
  <div
    class="float-moon-animation h-full w-full rounded-l-full bg-black invert-0"
  >
    <img
      src="/darkAngel.png"
      alt="Dark Angel"
      class="float-animation drop-shadow-scheme z-10 h-full w-full object-cover hue-rotate-180 invert-0"
    />
  </div>

  <div
    class="float-moon-animation invert-color-scheme h-full w-full rounded-r-full bg-white"
  >
    <img
      src="/lightAngel.png"
      alt="Dark Angel"
      class="float-animation z-10 h-full w-full object-cover hue-rotate-90 invert-0"
    />
  </div>
</div>
