<h1
  class="text-inverse text-center text-3xl leading-12 self-end font-bold col-start-1 row-start-1 row-span-1
  
  sm:text-5xl sm:leading-14
  md:text-6xl md:col-span-2 md:leading-20
  lg:text-6xl lg:col-span-1 lg:text-start
  xl:text-7xl"
>
  Take <span class="text-gradient-accent" title="Bun intended">control...</span>
  of your next web project
</h1>
