---
import BtnLink from '@/components/ui/btns/BtnLink.astro';
---

<div class="col-span-1 col-start-1 flex flex-col items-start justify-start">
  <h1
    class="text-inverse text-start text-4xl leading-tight font-bold md:text-5xl lg:text-6xl xl:text-7xl"
  >
    Summon Solutions, <br />
    Change <span class="text-gradient-accent">Hearts</span>.
  </h1>

  <h3 class="heading-4 mt-5 max-w-[45ch] text-sm leading-normal md:text-lg">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit soluta
    cupiditate voluptates ad nam sint, nisi quae optio nesciunt pariatur
    voluptatem vitae autem molestiae id at ducimus odit architecto culpa!
  </h3>
  <div>
    <!-- <BtnLink
      text="Email me"
      href="mailto:your.email@example.com"
      aria-label="Send email"
      class="focus:ring-accent-500 focus:ring-2 focus:ring-offset-2 focus:outline-none"
      role="link"
    /> -->
  </div>
</div>
