<div
  class="flex aspect-[2.2/2] h-[40vh] col-span-1 self-center justify-self-center
  
  lg:h-[50vh] lg:max-w-[50vw]
  xl:h-[60vh] xl:max-w-[50vw]
  lg:col-start-2 lg:row-start-1 lg:row-span-2"
>
  <div
    class="float-moon-animation bg-hero-image-dark h-max w-full rounded-l-full"
  >
    <img
      src="/darkAngel.png"
      alt="Dark Angel"
      class="float-animation drop-shadow-dark-scheme hue-rotate-dark-scheme invert-color-dark-scheme sepia-filter-scheme translate-y-hero-dark z-10 w-full object-cover"
    />
  </div>

  <div
    class="float-moon-animation bg-hero-image-light h-max w-full rounded-r-full"
  >
    <img
      src="/lightAngel.png"
      alt="Light Angel"
      class="float-animation drop-shadow-light-scheme hue-rotate-light-scheme invert-color-light-scheme translate-y-hero-light z-10 w-full object-cover"
    />
  </div>
</div>
