<div
  class="col-span-1 col-start-2 hidden aspect-[2.2/2] h-[175px] sm:flex sm:h-[200px] md:row-start-1 md:h-[300px] md:justify-self-center lg:h-[400px] xl:h-[500px]"
>
  <div
    class="float-moon-animation bg-hero-image-dark n h-full w-full rounded-l-full"
  >
    <img
      src="/darkAngel.png"
      alt="Dark Angel"
      class="float-animation drop-shadow-dark-scheme hue-rotate-dark-scheme invert-color-dark-scheme sepia-filter-scheme translate-y-hero-dark z-10 h-full w-full object-cover"
    />
  </div>

  <div
    class="float-moon-animation bg-hero-image-light h-full w-full rounded-r-full"
  >
    <img
      src="/lightAngel.png"
      alt="Light Angel"
      class="float-animation drop-shadow-light-scheme hue-rotate-light-scheme invert-color-light-scheme translate-y-hero-light z-10 h-full w-full object-cover"
    />
  </div>
</div>
