---
import BtnLink from '@/components/ui/btns/BtnLink.astro';
---

<div
  class="col-span-1 col-start-1 flex h-full flex-col items-start justify-start gap-8"
>
  <h1
    class="text-inverse text-start text-4xl leading-20 font-bold md:text-5xl lg:text-6xl xl:text-7xl"
  >
    Let me take <span class="text-gradient-accent">control...</span>
    <br />
    <span
      class="text-inverse ml-[1.5ch] inline-block text-start text-4xl leading-20 font-bold md:text-5xl lg:text-6xl"
      >of your next web project</span
    >
  </h1>

  <p
    class="heading-4 text-text-600 mt-6 max-w-[45ch] leading-normal md:text-2xl"
  >
    I Specialize in building pixel-perfect interfaces for clients. <br /> My expertise
    lies in understanding business requirements (ask, visualize, repeat until everything
    is clear <strong>enough</strong>) and translating business
    requirements/figma designs into user-friendly web solutions.
  </p>

  <div class="flex">
    <BtnLink
      text="About me"
      href="/about/"
      aria-label="Read more about me"
      role="link"
    />
    <BtnLink
      text="Projects"
      href="/about/"
      aria-label="Read more about me"
      role="link"
    />
    <BtnLink
      text="Blogs"
      href="/about/"
      aria-label="Read more about me"
      role="link"
    />
  </div>
</div>
