@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    /* Base Colors */
    --color-base: rgb(0, 0, 0); /* #000000 */
    --color-surface-100: rgb(238, 238, 238); /* #EEEEEE - lightest */
    --color-surface-200: rgb(192, 192, 192); /* #C0C0C0 */
    --color-surface-300: rgb(107, 107, 107); /* #6B6B6B */
    --color-surface-700: rgb(16, 16, 16); /* #101010 */
    --color-surface-900: rgb(10, 10, 10); /* #0A0A0A - darkest */
    
    /* Text Hierarchy */
    --color-text-100: rgb(255, 255, 255); /* #FFFFFF - lightest */
    --color-text-200: rgb(238, 238, 238); /* #EEEEEE */
    --color-text-300: rgb(201, 201, 201); /* #C9C9C9 */
    --color-text-900: rgb(107, 107, 107); /* #6B6B6B - darkest */
    
    /* Accents & Borders */
    --color-accent-500: rgb(57, 158, 222); /* #399EDE */
    --color-border-300: rgb(238, 238, 238, 0.7); /* #EEEEEE */
    --color-border-900: rgb(107, 107, 107); /* #6B6B6B */
  
    /* Patterns */
    --pattern-bg: url('/dark-pattern.svg');
  }
}


[data-theme='dark'] {
  /* Base Colors */
  --color-base: rgb(0, 0, 0); /* #000000 */
  --color-inverse: rgb(255, 255, 255); /* #FFFFFF - inverse color for dark theme */
  --color-surface-100: rgb(238, 238, 238); /* #EEEEEE - lightest */
  --color-surface-200: rgb(192, 192, 192); /* #C0C0C0 */
  --color-surface-300: rgb(107, 107, 107); /* #6B6B6B */
  --color-surface-700: rgb(25, 25, 25);   /* #101010 */ 
  --color-surface-900: rgb(20, 20, 20);   /* #0C0C0C - darkest */      
  
  /* Text Hierarchy */
  --color-text-100: rgb(255, 255, 255); /* #FFFFFF - lightest */
  --color-text-200: rgb(238, 238, 238); /* #EEEEEE */
  --color-text-300: rgb(201, 201, 201); /* #C9C9C9 */
  --color-text-900: rgb(107, 107, 107); /* #6B6B6B - darkest */
  
  /* Accents & Borders */
  --color-accent-500: rgb(57, 158, 222); /* #399EDE */
  --color-border-300: rgb(238, 238, 238, 0.7); /* #EEEEEE */
  --color-border-900: rgb(107, 107, 107); /* #6B6B6B */

  /* Patterns */
  --pattern-bg: url('/dark-pattern.svg');
}