@layer base {

    /* Scrollbar Styles */
    .scrollbar-rounded {
      &::-webkit-scrollbar-track {
        @apply rounded-tr-full rounded-br-full;
      }
      
      &::-webkit-scrollbar-thumb {
        @apply rounded-tr-full rounded-br-full;
      }
    }
    
/* Base Styles */
p {
    font-family: 'Satoshi', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: 'Lora', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

  /* Typography Scale */
  .heading-1 {
    @apply text-3xl font-semibold leading-tight md:text-4xl;
  }

  .heading-2 {
    @apply text-2xl leading-tight font-medium md:text-3xl;
  }

  .heading-3 {
    @apply text-xl font-medium leading-snug md:text-2xl;
  }

  .heading-4 {
    @apply text-lg font-medium leading-snug md:text-xl;
  }

  /* Paragraph Styles */
  .text-lg {
    @apply text-lg leading-relaxed font-medium;
  }

  .text-md {
    @apply text-[1rem] leading-relaxed font-medium;
  }

  .text-article {
    @apply text-[1.07rem] leading-[28px] font-medium;
  }

  .text-sm {
    @apply text-sm leading-relaxed font-medium;
  }

  /* Label & Caption */
  .label {
    @apply text-sm font-medium;
  }

  .caption {
    @apply text-xs leading-normal;
  }

  /* Base theme variables (light mode default) */
  :root {
    /* Base Colors */
    --color-base: rgb(255, 255, 255); /* #FFFFFF */
    --color-surface-100: rgb(255, 255, 255); /* #FFFFFF - lightest */
    --color-surface-200: rgb(238, 238, 238); /* #EEEEEE */
    --color-surface-300: rgb(201, 201, 201); /* #C9C9C9 */
    --color-surface-400: rgb(192, 192, 192); /* #C0C0C0 */


    --color-surface-700: rgb(192, 192, 192); /* #C0C0C0  CARD HOVER*/
    --color-surace-900: rgb(255, 254, 254); /* #6B6B6B - darkest && Card Base Color */

    /* Text Hierarchy */
    --color-text-100: rgb(0, 0, 0); /* #000000 - darkest */
    --color-text-200: rgb(107, 107, 107); /* #6B6B6B */
    --color-text-300: rgb(192, 192, 192); /* #C0C0C0 */
    --color-text-900: rgb(238, 238, 238); /* #EEEEEE - lightest */

    /* Accents & Borders */
    --color-accent-500: rgb(57, 158, 222); /* #399EDE */
    --color-accent-800: rgb(20, 88, 236); /* #1458EC */
    --color-border-300: rgb(244 244 245); /* #F4F4F5 */
    --color-border-900: rgb(107, 107, 107); /* #6B6B6B */

    /* Patterns */
    --pattern-bg: url('/light-pattern.svg');
  }
}