/* Import Tailwind below reset layer to override reset styles  */
@import './reset.css';
@import 'tailwindcss';
@import './themes/theme.css';
@import './base.css';

/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

/* Lora */
@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@theme {
  /* Background Theme Variables */
  --background-image-pattern: var(--pattern-bg);
  --color-base: var(--color-base);
  --color-inverse: var(--color-inverse);
  --color-surface-100: var(--color-surface-100);
  --color-surface-200: var(--color-surface-200);
  --color-surface-300: var(--color-surface-300);
  --color-surface-400: var(--color-surface-400);
  --color-surface-700: var(--color-surface-700);
  --color-surface-900: var(--color-surface-900);

  /* Text Theme Variables */
  --color-text-100: var(--color-text-100);
  --color-text-200: var(--color-text-200);
  --color-text-300: var(--color-text-300);
  --color-text-600: var(--color-text-600);
  --color-text-700: var(--color-text-700);
  --color-text-900: var(--color-text-900);

  /* Accent & Border Variables */
  --color-accent-500: var(--color-accent-500);
  --color-accent-800: var(--color-accent-800);
  --color-border-300: var(--color-border-300);
  --color-border-900: var(--color-border-900);
}
