---
interface Props {
  technologies: string[];
}

const { technologies } = Astro.props;
---

{
  technologies && technologies.length > 0 && (
    <div class="mb-4">
      <h4 class="text-text-100 mb-2 text-sm font-medium">Technologies Used:</h4>
      <div class="flex flex-wrap gap-2">
        {technologies.map((tech) => (
          <span class="bg-surface-700 text-text-700 rounded-md px-2 py-1 text-xs">
            {tech}
          </span>
        ))}
      </div>
    </div>
  )
}
