---
import '../styles/global.css';

import CardContainer from '../components/ui/containers/CardContainer.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import About from '../features/index/components/About.astro';
import Technologies from '../features/index/components/Technologies.astro';
import Services from '../features/index/components/Services.astro';
import Experience from '../features/index/components/Experience.astro';
---

<DefaultLayout>
  <div class="">
    <!-- Grid Layout -->
    <div class="mt-34 grid grid-cols-[1fr_1fr_1fr_1fr] grid-rows-4 gap-4">
      <!-- Welcome Card - Spans 2 columns -->
      <CardContainer class="col-span-2 col-start-1 row-span-2">
        <About />
      </CardContainer>

      <!-- Tech Stack Card -->
      <CardContainer class="col-span-2 col-start-1 row-span-2 row-start-3">
        <Technologies />
      </CardContainer>

      <!-- Services Card -->
      <CardContainer class="col-span-1 col-start-3 row-span-4">
        <Services />
      </CardContainer>

      <!-- Experience Card -->
      <CardContainer class="col-span-1 col-start-4 row-span-4">
        <Experience />
      </CardContainer>

      <!-- Projects Card -->
      <!-- <Card class="col-start-2 opacity-60">
        <h3 class="text-lg font-semibold">Projects</h3>
        <p class="mt-2 text-sm text-gray-400">Coming soon...</p>
      </Card> -->

      <!-- Projects Card -->
      <!-- <Card class="col-start-2 opacity-60">
        <h3 class="text-lg font-semibold">Projects</h3>
        <p class="mt-2 text-sm text-gray-400">Coming soon...</p>
      </Card> -->

      <!-- Blog Card -->
      <!-- <Card class="opacity-60 md:col-start-2">
        <h3 class="text-lg font-semibold">Blog</h3>
        <p class="mt-2 text-sm text-gray-400">Coming soon...</p>
      </Card> -->
    </div>
  </div>

  <script></script>
</DefaultLayout>
