---
import '../styles/global.css';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import HeroContent from '../features/index/HeroContent.astro';
import HeroImage from '../features/index/HeroImage.astro';
---

<DefaultLayout>
  <div
    class="grid grid-cols-1 items-center justify-center gap-6 p-6 md:mt-12 md:grid-cols-[max-content_max-content] md:gap-12"
  >
    <HeroContent />
    <HeroImage />
  </div>
</DefaultLayout>

<style>
  .float-animation {
    /* animation: float 4s ease-in-out infinite; */
  }

  .float-moon-animation {
    /* animation: float-moon 4s ease-in-out infinite; */
  }

  @keyframes float {
    0% {
      transform: translate(-0, 0);
    }
    50% {
      transform: translate(0, -2.5%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes float-moon {
    0% {
      transform: translate(-0, -2.5%);
    }
    50% {
      transform: translate(0, -5%);
    }
    100% {
      transform: translate(0, -2.5%);
    }
  }
</style>
