---
import '../styles/global.css';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Github, Linkedin, Mail } from '@lucide/astro';
import BtnLink from '@/components/ui/btns/BtnLink.astro';
---

<DefaultLayout>
  <div
    class="mt-12 grid grid-cols-[max-content_max-content] items-center justify-center gap-2 p-6"
  >
    <div class="col-start-1">
      <img
        src="/angel3.png"
        alt="Dark Angel"
        class="float-animation h-xl drop-shadow-scheme invert-color-scheme hue-rotate-scheme z-10 h-full max-h-1/2 w-full max-w-2xl object-cover"
      />
    </div>
    <div>
      <h1 class="text-inverse text-center text-7xl leading-tight font-bold">
        Summoning Solutions, <br />
        Changing Hearts
      </h1>

      <div
        class="col-span-2 mt-8 grid grid-cols-3 grid-rows-1 items-center justify-start gap-4"
      >
        <BtnLink
          text="Email me"
          icon={Mail}
          href="mailto:your.email@example.com"
          aria-label="Send email"
          class="focus:ring-accent-500 focus:ring-2 focus:ring-offset-2 focus:outline-none"
          role="link"
        />
        <BtnLink
          text="Email me"
          icon={Mail}
          href="mailto:your.email@example.com"
          aria-label="Send email"
          class="focus:ring-accent-500 focus:ring-2 focus:ring-offset-2 focus:outline-none"
          role="link"
        />
        <BtnLink
          text="Email me"
          icon={Mail}
          href="mailto:your.email@example.com"
          aria-label="Send email"
          class="focus:ring-accent-500 focus:ring-2 focus:ring-offset-2 focus:outline-none"
          role="link"
        />
      </div>
    </div>
  </div>
</DefaultLayout>

<style>
  .float-animation {
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translate(-0, 0);
    }
    50% {
      transform: translate(0, -2.5%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
</style>
