---
import '../styles/global.css';
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Import SVG as string
const LightDarkSvg = await import('/ld.svg?raw').then((mod) => mod.default);
---

<DefaultLayout>
  <div
    class="relative flex h-12 w-12 items-center justify-center overflow-hidden rounded-full"
  >
    <Fragment set:html={LightDarkSvg} />
  </div>
</DefaultLayout>
