<div
  class="flex aspect-[2.2/2] h-[15vh] col-span-1 self-center justify-self-center
  
  lg:h-[25vh] lg:max-w-[50vw] lg:col-start-2 lg:row-start-1 lg:row-span-3 xl:h-[200px] 2xl:h-[270px]"
>
  <div
    class="float-moon-animation bg-hero-image-dark bg-repeat h-max w-full rounded-l-full"
  >
    <img
      src="/darkAngel.png"
      alt="Dark Angel"
      class="float-animation drop-shadow-dark-scheme hue-rotate-dark-scheme invert-color-dark-scheme sepia-filter-scheme translate-y-hero-dark z-10 w-full object-contain"
    />
  </div>

  <div
    class="float-moon-animation bg-hero-image-light h-max w-full rounded-r-full"
  >
    <img
      src="/lightAngel.png"
      alt="Light Angel"
      class="float-animation drop-shadow-light-scheme transform-0 transition-transform duration-image ease-[cubic-bezier(0.6,0.04,0.98,0.34)] hue-rotate-light-scheme invert-color-light-scheme translate-y-hero-light z-10 w-full object-contain"
    />
  </div>
</div>
