---
import AngelComponent from '@/components/ui/misc/AngelComponent.astro';
import SocialButtons from './About/SocialButtons.astro';
---

<section class="flex flex-col items-center gap-6 md:flex-row" tabindex="0">
  <div class="flex-1 grid gap-x-6">
    <header class="mb-5 flex items-center justify-between gap-4">
      <div>
        <h1 class="heading-1 text-inverse">
          <span class="text-gradient-accent uppercase" title="Bun intended">
            Take Control...</span
          >
          <br />
          of your next web project
        </h1>
      </div>
    </header>

    <div class="mb-4">
      <p class="text-text-600 text-md leading-relaxed">
        Hi I'm <strong class="text-inverse">Amr</strong>, I enjoy truning
        business ideas into modren websites and applications. What i enjoy most
        in the process is bridging the gap between ideas and execution through
        thoughful communication.
      </p>
    </div>

    <SocialButtons />

    <AngelComponent />
  </div>
</section>
