---
import type { Experience } from '../types/experience';
import experiences from '../constants/experiences.ts';
---

<div class="space-y-4">
  {
    experiences.map((exp: Experience) => (
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-4">
          <div class="h-10 w-10 flex-shrink-0 overflow-hidden rounded-full">
            <img
              src={exp.logo || '/placeholder.svg'}
              alt={`${exp.company} logo`}
              class="h-full w-full bg-white object-contain"
            />
          </div>
          <div>
            <h5 class="text-inverse font-medium">{exp.company}</h5>
            <p class="text-text-700 text-sm">{exp.position}</p>
          </div>
        </div>
        <span class="text-text-700 text-sm">{exp.period}</span>
      </div>
    ))
  }
</div>
