---
// bg-[#1a1a1a]
---

<div class="mb-6">
  <!--TITLE -->
  <div class="mb-4 flex flex-col items-center gap-2">
    <h2
      class="text-text-muted ml-2 grid w-full grid-cols-[max-content] grid-rows-2 text-2xl font-semibold"
    >
      <span> I don't just </span>
      <span class="text-text-base inline-block px-3 text-2xl font-bold uppercase"
        >build websites</span
      >
    </h2>

    <div
      class="text-text-muted ml-2 grid w-full grid-cols-[max-content] grid-rows-2 text-2xl font-semibold"
    >
      I build <span class="text-text-base inline-block px-3 text-2xl font-bold uppercase"
        >communication</span
      >
    </div>
  </div>

  <div class="bg-canvas mt-6 mb-6 rounded-lg p-4 text-[#9ca3af] shadow-sm">
    <p class="text-lg leading-relaxed">
      I don’t see myself as just a developer providing web services. <br />
      <br /> I approach every project as a collaboration, prioritizing communication with business and
      team, make an effort to ask the right questions, and understand the business goals behind the project.
    </p>
  </div>
</div>
