---
// bg-[#1a1a1a]
---

<!--TITLE -->
<div class="mb-6 flex flex-col items-center gap-2">
  <h2
    class="text-inverse heading-2 ml-2 grid w-full grid-cols-[max-content] grid-rows-2"
  >
    <span> Not just</span>
    <span class="text-accent-500 inline-block px-3 font-bold capitalize">
      web solutions</span
    >
    <span> I build</span>
    <span class="text-accent-500 inline-block px-3 font-bold uppercase"
      >communication</span
    >
  </h2>

  <div
    class="bg-canvas text-text-600 text-article mb-6 rounded-lg p-4 shadow-sm"
  >
    <p class="mb-4">
      I don’t see myself as just a developer providing web services.
    </p>
    <p>
      I approach every project as a collaboration, prioritizing communication
      with business and team, make an effort to ask the right questions, and
      understand the business goals behind the project.
    </p>
  </div>
</div>
