---
// bg-[#1a1a1a]
---

<!--TITLE -->
<div class="grid-rows-[repeat(2,max-content)_1fr]items-center mb-5 grid">
  <h2
    class="text-inverse heading-2 ml-2 grid w-full grid-cols-[max-content] grid-rows-2"
  >
    <span> Not just</span>
    <span class="text-accent-500 inline-block px-3 font-bold capitalize">
      web solutions</span
    >
    <span> I build</span>
    <span class="text-accent-500 inline-block px-3 font-bold uppercase"
      >communication</span
    >
  </h2>

  <div class="text-text-600 text-article p-4">
    <p class="mb-4 text-sm">
      “<span class="text-inverse">Communication</span> is the solvent of all problems
      and is the foundation for
      <span class="e line-through">personal</span>
      software development.” – <span class="text-inverse italic"
        >Peter Shepherd</span
      >
    </p>
    <div
      class="scrollbar-rounded-md border-border-900 flex max-h-72 flex-col gap-4 overflow-y-scroll rounded-lg border px-2.5 py-1 shadow-xs"
    >
      <p>
        I don’t see myself as just a developer who builds web services. I treat
        every project as a collaboration.
      </p>
      <p>
        I try to understand the problem we are solving and stay in constant
        communication with both development team and the business side.
      </p>
      <p>
        In past experiences, I’ve worked with small teams where the process
        wasn’t always clear and the requirements were vague. I learned not to
        assume things will go as expected.
      </p>

      <p>
        Instead, I make sure to share my expectations from my team, ask about
        theirs, and speak up if I think something could be improved.
      </p>

      <p>
        If something doesn’t make sense, I ask. Worst case? I get an answer.
        Some of those questions actually helped uncover important things we were
        missing.
      </p>

      <p>
        Good communication creates a clearer, healthier work environment. It
        helps the team stay on the same page, more productive, and in the long
        run, saves time and money for the business.
      </p>
    </div>
  </div>
</div>
