---
import icons from '../constants/skillsIcons.ts';
import IconTooltip from '@/components/ui/misc/IconTooltip.astro';
---

<h2 class="heading-2 mb-6">Technologies I've worked with</h2>
<p class="text-text-200 text-md mb-4">
  P.S: I’m not limited by any specific tech stack and always open to exploring new technologies that
  better serve business requirements and client constraints.
</p>

<div class="mb-4">
  <div class="flex flex-wrap gap-4">
    {
      Object.entries(icons.frontend).map(([name, svg]) => (
        <IconTooltip
          svg={svg}
          label={name}
          class="group relative z-10 flex h-10 w-10 rounded-lg bg-white p-[6px] shadow-lg"
        />
      ))
    }
  </div>
</div>

<div class="mb-4">
  <div class="flex flex-wrap gap-4">
    {
      Object.entries(icons.tools).map(([name, svg]) => (
        <IconTooltip
          svg={svg}
          label={name}
          class="group relative z-10 flex h-10 w-10 rounded-lg bg-white p-[6px] shadow-lg"
        />
      ))
    }
  </div>
</div>
