---
import icons from './constants/skillsIcons.js';
import IconTooltip from '@/components/ui/misc/IconTooltip.astro';
---

<h2 class="mb-2 text-lg font-semibold">Technologies I've worked with for the past 2 years</h2>
<p class="text-text-muted mb-6 text-sm">
  P.S: I’m not limited by any specific tech stack and always open to exploring new technologies that
  better serve business requirements and client constraints.
</p>

<div class="mb-4">
  <div class="flex flex-wrap gap-4">
    {
      Object.entries(icons.frontend).map(([name, svg]) => (
        <IconTooltip
          svg={svg}
          label={name}
          class="group relative z-10 flex h-10 w-10 rounded-lg bg-white p-[6px] shadow-lg"
        />
      ))
    }
  </div>
</div>

<div class="mb-4">
  <div class="flex flex-wrap gap-4">
    {
      Object.entries(icons.tools).map(([name, svg]) => (
        <IconTooltip
          svg={svg}
          label={name}
          class="group relative z-10 flex h-10 w-10 rounded-lg bg-white p-[6px] shadow-lg"
        />
      ))
    }
  </div>
</div>
