---
import '../styles/global.css';
import LightDarkToggle from '../components/ui/misc/LightDarkToggle.astro';
import PaddingContainer from '../components/ui/containers/PaddingContainer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Amr Abdelghany - Home</title>
  </head>

  <body class="bg-base flex flex-col">
    <!-- Pattern -->
    <div
      class="bg-pattern absolute inset-0 -z-1 bg-size-[0.5rem] bg-blend-multiply"
    >
    </div>
    <!-- Overlay -->
    <div
      class="from-base via-base/95 to-base absolute inset-0 -z-1 bg-gradient-to-t"
    >
    </div>
    <PaddingContainer>
      <header class="mt-6 flex items-center justify-end gap-4">
        <!-- <ColorModeSelect /> -->
        <LightDarkToggle />
      </header>
      <!-- Main Content -->
      <main>
        <slot />
      </main>
    </PaddingContainer>

    <!-- Footer -->
    <footer class="z-1 mt-auto inline-block w-full py-8">
      <p
        class="inline-block w-full max-w-full px-8 text-right text-sm text-gray-400"
      >
        © 2025 • Built by <span class="text-accent-500 font-[Lora] font-bold">
          Amr Abdelghany</span
        >
      </p>
    </footer>
  </body>
</html>
